* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

rollbutton {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -70%);
	height: 300;
	width: 300;
	color: white;
	font-size: 10vh;
	opacity: 0.3;
	/* background-color: red; */
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
	border: none;
	z-index: 2;
}

numb {
	position: fixed;
	top: 0%;
	left: 0%;
	color: red;
	font-size: 100vw;
	opacity: 0.3;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
	z-index: 0;
}
