* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
}

button {
	position: fixed;
	top: 75%;
	left: 50%;
	transform: translate(-50%, -50%);
	height: 100px;
	width: 350px;
	color: white;
	font-size: 40px;
	background-color: red;
	z-index: 2147483647;
}

numb {
	position: fixed;
	top: -50%;
	left: 0%;
	color: red;
	font-size: 180vw;
	opacity: 0.3;
	user-select: none;
	z-index: 0;
}