* {
	margin: 0;
	padding: 0;
}

canvas {
	display: block;
	width: 100vw;
	height: 100vh;
	z-index: 1;
}

rollbutton {
	position: fixed;
	top: 30%;
	left: 50%;
	transform: translate(-50%, -70%);
	height: 300;
	width: 300;
	color: white;
	font-size: 10vh;
	opacity: 0.3;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	padding: 0;
	border: none;
	z-index: 2;
}

Turn {
	position: fixed;
	top: 80%;
	left: 75%;
	color: brown;
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
	z-index: 0;
}

nextturnbutton {
	position: fixed;
	top: 50%;
	left: 70%;
	color: white;
	background-color: brown;
	font-size: 60px;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	user-select: none;
	z-index: 3;
}